<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
    <div class="col card bg-primary-subtle p-2 text-center" *ngFor="let ProjectItem of (projects$ | async)">
      <span class="h2 fw-bold text-center">{{ ProjectItem.name }}</span>
      <span>{{ ProjectItem.shortDescription }}</span>
      <span><b>Last Modified:</b><br /><span class="h5">{{ ProjectItem.modifiedDate | date:'short' }}</span></span>
      <span><b>Author:</b><br /><span class="h5">{{ ProjectItem.author }}</span></span>
      <div class="row mt-3">
        <div class="col">
          <a routerLink="{{ ProjectItem.projectId }}" class="card-link btn btn-primary">View Project</a>
        </div>
        <!--<div class="col">
          <a class="btn btn-secondary"><i class="bi bi-share"></i></a>
        </div>-->
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col text-center">
    <button class="btn btn-primary me-2"
            (click)="previousPage()"
            [disabled]="(currentPage$ | async) === 1">
      Previous
    </button>
    <span class="mx-3">
      Page {{currentPage$ | async}}
    </span>
    <button class="btn btn-primary ms-2"
            (click)="nextPage()"
            [disabled]="(currentPage$ | async) === (totalPages$ | async)">
      Next
    </button>
  </div>
</div>

<!--<a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Show Raw Data</a>
<ul class="dropdown-menu">
  <li><pre>{{ projects$ | async | json }}</pre></li>
</ul>-->
