<div class="container-fluid text-center">
  <h1>Oops! Still Under Construction</h1>
  <h3>This feature is coming soon...</h3>
  <p>We appreciate your excitement and patience as we work to enhance our platform with new features. This particular feature is currently in development, and we are eager to roll it out for you.</p>
  <p>Please keep an eye on our <a href="https://github.com/orgs/CCAppDevs/projects/2/views/1" target="_blank">ToDo list</a> for upcoming changes that will soon be added. We are continuously working to improve and expand our services. Thank you for your understanding as we perfect our offerings!</p>
  <button class="btn btn-primary" (click)="goBack()">Return to Safety</button>
</div>

