<div>
  <h1>{{asset.name}}</h1>

  <p>
    Date Created: {{asset.dateCreation | date:'short'}}
  </p>
  <p>
    Date Updated: {{asset.dateUpdated | date:'short'}}
  </p>
  <p>
    File Size: {{ asset.fileSize | fileSize }}
  </p>
  <b class="col">Tags:</b>
  <div class="row row-cols-auto justify-content-md-center">
    <app-tag-label class="col" *ngFor="let assetTag of asset.assetTags" [tagLabel]="assetTag.tag"></app-tag-label>
  </div>
  <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editAssetModal" (click)="requestEdit()">
    Edit Asset
  </button>
</div>


<a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Show Raw Data</a>
<ul class="dropdown-menu">
  <li>
    <pre>{{ asset | json }}</pre>
  </li>
</ul>
