
<div>
  <h1>{{asset.name}}</h1>

  <p>
    Date Created: {{asset.dateCreation | date:'short'}}
  </p>
  <p>
    Date Updated: {{asset.dateUpdated | date:'short'}}
  </p>
  <p>
    File Size: {{ formatFileSize(asset.fileSize) }}
  </p>
  <a class="btn btn-primary" routerLink="/Projects/{{asset.projectId}}">
    View Project
  </a>
</div>



<a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Show Raw Data</a>
<ul class="dropdown-menu">
  <li>
    <pre>{{ asset | json }}</pre>
  </li>
</ul>
