
.navbar {
  background-color: #003366 !important; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
}


.navbar-logo {
  height: 40px;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out;
}

  .navbar-logo:hover {
    transform: scale(1.1);
  }


.navbar-text {
  color: #ffffff !important; 
  font-weight: bold;
}


.nav-link {
  color: #ffffff !important; 
  font-weight: 500;
  transition: color 0.2s;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 100%;
}

  .nav-link:hover,
  .nav-link:focus {
    color: #ffdd57 !important; 
    text-decoration: underline;
  }

  .nav-link.disabled {
    color: #cccccc !important; 
    pointer-events: none;
    opacity: 0.7;
  }

    .nav-link.disabled i {
      font-size: 30px; 
      color: #cccccc; 
    }

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  transition: transform 0.3s;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: rotate(90deg);
}


.navbar .form-control {
  width: 250px; 
  margin: 0; 
  height: 40px; 
  border-radius: 0.25rem; 

.navbar .d-flex {
  display: flex; 
  align-items: center; 
}

.navbar .btn-outline-success {
  border-color: #ffffff; 
  color: #ffffff;
  height: 40px; 
  padding: 5px 15px; 
  line-height: 1.5;
}

  .navbar .btn-outline-success:hover {
    background-color: #ffdd57; 
    border-color: #ffdd57;
    color: #003366; 
  }

  i.bi-person-circle{
      font-size: xxx-large;
  }

@media (max-width: 991.98px) {
  .navbar-nav {
    margin-left: 0; 
    text-align: left; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    padding-left: 15px; 
  }

  .nav-link {
    justify-content: flex-start; 
    width: 100%; 
  }

  .navbar-collapse {
    padding-top: 10px; 
  }
}

